#textdomain wesnoth-The_Sojournings_of_Grog

#scenario entirely written by Elvish_Hunter
# with modifications by Eros

# wmllint: recognize gryphonboss
# wmllint: recognize Esanoo

[scenario]
    id=C1
    name= _ "Flying Above the Sands"
    next_scenario=C2
    map_data="{~add-ons/The_Sojournings_of_Grog/maps/C1-Jaash.map}"
    {TWO_SUNS_DEFAULT_SCHEDULE}
    {TURNS 21 18 15}
    victory_when_enemies_defeated=no

    {INTRO_AND_SCENARIO_MUSIC battle-epic.ogg vengeful.ogg}
    {EXTRA_SCENARIO_MUSIC northern_mountains.ogg}

    #who said that Over the Northern Mountains *must* be used *only* in mountain scenarios?
    disallow_recall=yes

    [story]
        [part]
            story= _ "Grog led the Trolls along the coast towards the mountain upon which the dragon Akhenku sat. Meanwhile Jaash, pursued by the Drakes, had nearly reached the coast from which to fly to the Quenoth Elves."
            background=story/cloudsinthedesert2.jpg
        [/part]
    [/story]

    [side]
        side=1
        controller=human
        team_name=goodies
        user_team_name= _"Goodies"
        #we will unstore it in prestart
        no_leader=yes
        shroud=yes

        {GOLD 0 0 0}
        {INCOME 0 0 0}

        {FLAG_VARIANT long}
    [/side]

    [side]
        side=2
        controller=ai
        team_name=drakes
        user_team_name= _ "Drakes"
        no_leader=yes
        {GOLD 0 0 0}
        {INCOME 0 0 0}
        [ai]
            aggression=0.75
            caution=0.25
            [target]
                side=1
                value=1
            [/target]
        [/ai]

        {FLAG_VARIANT drake}
    [/side]

    [side]
        side=3
        controller=ai
        team_name=cactose
        # but... is Cactoses or Cactosii?
        user_team_name= _ "Cactoses"
        no_leader=yes
        canrecruit=no
        {GOLD 0 0 0}
        {INCOME 0 0 0}
        [ai]
            aggression=0.75
            caution=0.25

            [target]
                side=2
                value=1
            [/target]
        [/ai]
    [/side]

    [side]
        side=4
        controller=ai
        team_name=goodies
        user_team_name= _ "Goodies"
        #given in prestart
        no_leader=yes
        #to avoid that Esanoo suicides against Cactose...
        [ai]
            passive_leader_shares_keep=yes
            #apparently, due to a bug, the line above wasn't enough...
            passive_leader=yes
            [avoid]
                x,y=12-68,0-14
            [/avoid]
            #[avoid]
            #only sand and tropical forest; other terrains are too far for mermen
            #	terrain=Ds,Gs^Ft
            #[/avoid]
            #on defensive.
            #aggression=0.3
            #caution=0.75
            #grouping=defensive
            #leader_aggression=-10.0
            #number_of_possible_recruits_to_force_recruit=1
            #protect_leader=5.0
            #protect_leader_radius=10
            #recruitment_pattern=fighter,fighter,archer
        [/ai]
        recruit=Merman Hunter, Merman Fighter, Mermaid Initiate
        # original was 100 gold, 0 income.
        {GOLD 200 150 100}
        {INCOME 6 4 2}

        {FLAG_VARIANT long}
    [/side]

    #
    # Prestart: setting up variables, unstoring and creating units
    #

    [event]
        name=prestart

        #unstoring Jaash, healing and making him leader for this scenario.
        {VARIABLE stored_hero.hitpoints $stored_hero.max_hitpoints}
        {VARIABLE stored_hero.canrecruit yes}
        [unstore_unit]
            variable=stored_hero
            x,y=80,13
            find_vacant=yes
        [/unstore_unit]
        {UNMAKE_HERO gryphonboss}

        #unstoring Esanoo
        [if]
            [variable]
                name=stored_Esanoo.length
                equals=0
            [/variable]
            [then]
                # create him
                [unit]
                    type=Merman Entangler
                    id=Esanoo
                    name= _ "Esanoo"
                    profile=portraits/esanoo.png
                    x,y=3,13
                    side=4
                    unrenamable=yes
                    canrecruit=yes
                    [modifications]
                        {TRAIT_STRONG}
                        {TRAIT_RESILIENT}
                        {TRAIT_LOYAL}
                    [/modifications]
                [/unit]
            [/then]
            [else]
                # unstore him
                [set_variable]
                    name=stored_Esanoo.canrecruit
                    value=yes
                [/set_variable]
                [set_variable]
                    name=stored_Esanoo.side
                    value=4
                [/set_variable]
                {VARIABLE stored_Esanoo.hitpoints $stored_Esanoo.max_hitpoints}
                [unstore_unit]
                    variable=stored_Esanoo
                    x,y=3,13
                    find_vacant=yes
                [/unstore_unit]
                {UNMAKE_HERO Esanoo}
            [/else]
        [/if]

        # On Medium, one L2 Gryphon will be replaced by one L1 Young Gryphon
        # On Hard, two L2 will be replaced by two L1
        {GENERIC_UNIT 1 "Gryphon" 80 14}
        {GENERIC_UNIT 1 "Gryphon" 80 12}
#ifdef EASY
        {GENERIC_UNIT 1 "Gryphon" 78 11}
        {GENERIC_UNIT 1 "Gryphon" 78 15}
#else
        {GENERIC_UNIT 1 "Young Gryphon" 78 11}
        {GENERIC_UNIT 1 "Young Gryphon" 78 15}
#endif
        {GENERIC_UNIT 1 "Young Gryphon" 77 13}
        {GENERIC_UNIT 1 "Young Gryphon" 77 14}
        {GENERIC_UNIT 1 "Young Gryphon" 79 13}
        {GENERIC_UNIT 1 "Young Gryphon" 79 12}
        {GENERIC_UNIT 1 "Young Gryphon" 79 14}
        {GENERIC_UNIT 1 "Young Gryphon" 79 15}
        {GENERIC_UNIT 1 "Young Gryphon" 78 12}
        {GENERIC_UNIT 1 "Young Gryphon" 78 13}
        {GENERIC_UNIT 1 "Young Gryphon" 78 14}
#ifdef HARD
        {GENERIC_UNIT 1 "Young Gryphon" 80 15}
        {GENERIC_UNIT 1 "Young Gryphon" 80 11}
#else
        {GENERIC_UNIT 1 "Gryphon" 80 15}
        {GENERIC_UNIT 1 "Gryphon" 80 11}
#endif

        [set_variable]
            name=cactose_amount
#ifdef EASY
            value=40
#endif
#ifdef NORMAL
            value=45
#endif
#ifdef HARD
            value=50
#endif
        [/set_variable]

        {SCATTER_UNITS $cactose_amount "Cactose" 3 (
            terrain=Dd,Hd,Dd^Dr,Dd^Dc,Dd^Do,Md,Dd^Vda,Dd^Vdt
            x=1-72
            y=1-25

            [not]
                [filter]
                [/filter]
            [/not]

            [not]
                [filter_adjacent_location]
                    [filter]
                    [/filter]
                [/filter_adjacent_location]
            [/not]
        ) (
            side=3
            generate_name=yes
            random_traits=yes
            ai_special=guardian
        )}

        [objectives]
            side=1
            [objective]
                description= _ "Find the Mermen and get help from them"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Jaash"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            [gold_carryover]
                bonus=no
                carryover_percentage=0
            [/gold_carryover]
        [/objectives]
    [/event]

    #since passive_leader may be not enough, keep Esanoo alive at all cost. Thanks Eros.
    {FORCE_CHANCE_TO_HIT (side=2,3) (id=Esanoo) 0 ()}

    #
    # Start
    #

    [event]
        name=start
        [message]
            speaker=gryphonboss
            message= _ "Wee must goo faaast. Draaakees wiiill beee heeere sooon." # wmllint: no spellcheck
        [/message]

        [message]
            speaker=narrator
            message= _ "<span foreground='yellow'>Remember that standing in an oasis will heal your units by 8 HP.</span>"
            image=wesnoth-icon.png
        [/message]
    [/event]

    #
    # Drakes appear: first time.
    #
    [event]
#ifdef EASY
        name=side 2 turn 5
#endif
#ifdef NORMAL
        name=side 2 turn 4
#endif
#ifdef HARD
        name=side 2 turn 3
#endif

#ifdef EASY
        {GENERIC_UNIT 2 "Sky Drake" 80 14}
        {GENERIC_UNIT 2 "Sky Drake" 80 13}
        {GENERIC_UNIT 2 "Drake Glider" 80 12}
        {GENERIC_UNIT 2 "Drake Glider" 79 14}
        {GENERIC_UNIT 2 "Drake Glider" 79 13}
#endif
#ifdef NORMAL
        {GENERIC_UNIT 2 "Hurricane Drake" 80 14}
        {GENERIC_UNIT 2 "Sky Drake" 80 13}
        {GENERIC_UNIT 2 "Sky Drake" 80 12}
        {GENERIC_UNIT 2 "Drake Glider" 79 14}
        {GENERIC_UNIT 2 "Drake Glider" 79 13}
#endif
#ifdef HARD
        {GENERIC_UNIT 2 "Hurricane Drake" 80 14}
        {GENERIC_UNIT 2 "Hurricane Drake" 80 13}
        {GENERIC_UNIT 2 "Sky Drake" 80 12}
        {GENERIC_UNIT 2 "Sky Drake" 79 14}
        {GENERIC_UNIT 2 "Sky Drake" 79 13}
#endif

        [message]
            speaker=gryphonboss
            message= _ "Thoosse draaakes aaare riight beehind uuus." # wmllint: no spellcheck
        [/message]

        [scroll_to]
            x,y=80,13
        [/scroll_to]

        [delay]
            time=1000
        [/delay]

        [role]
            type=Hurricane Drake,Sky Drake,Drake Glider
            role=drake1
        [/role]

        [message]
            role=drake1
            # I know, Eros, I shouldn't change the dialogue, but a small correction...
            message= _ "The Gryphons have a head start; chase 'em down boys!"
            sound=drake-hit-1.ogg
        [/message]
    [/event]

    #
    # Drakes appear: second time.
    #
    [event]
#ifdef EASY
        name=side 2 turn 10
#endif
#ifdef NORMAL
        name=side 2 turn 9
#endif
#ifdef HARD
        name=side 2 turn 8
#endif

#ifdef EASY
        {GENERIC_UNIT 2 "Sky Drake" 80 14}
        {GENERIC_UNIT 2 "Sky Drake" 80 13}
        {GENERIC_UNIT 2 "Drake Glider" 80 12}
        {GENERIC_UNIT 2 "Drake Glider" 79 14}
        {GENERIC_UNIT 2 "Drake Glider" 79 13}
#endif
#ifdef NORMAL
        {GENERIC_UNIT 2 "Hurricane Drake" 80 14}
        {GENERIC_UNIT 2 "Sky Drake" 80 13}
        {GENERIC_UNIT 2 "Sky Drake" 80 12}
        {GENERIC_UNIT 2 "Drake Glider" 79 14}
        {GENERIC_UNIT 2 "Drake Glider" 79 13}
#endif
#ifdef HARD
        {GENERIC_UNIT 2 "Hurricane Drake" 80 14}
        {GENERIC_UNIT 2 "Hurricane Drake" 80 13}
        {GENERIC_UNIT 2 "Sky Drake" 80 12}
        {GENERIC_UNIT 2 "Sky Drake" 79 14}
        {GENERIC_UNIT 2 "Sky Drake" 79 13}
#endif

        [message]
            speaker=gryphonboss
            message= _ "Mooore draaakes cooomiiing." # wmllint: no spellcheck
        [/message]

        [scroll_to]
            x,y=80,13
        [/scroll_to]
    [/event]

    #
    # Sighted: cactose
    #
    [event]
        name=sighted

        [filter]
            side=3
        [/filter]

        [filter_second]
            side=1
        [/filter_second]

        [fire_event]
            name=sighted_cactose
            [secondary_unit]
                x,y=$second_unit.x,$second_unit.y
            [/secondary_unit]
        [/fire_event]
    [/event]

    [event]
        name=moveto

        [filter]
            side=3

            [filter_vision]
                viewing_side=1
            [/filter_vision]
        [/filter]

        # using NEAREST_UNIT to determine the nearest unit to the Cactose
        #{NEAREST_UNIT $unit.x $unit.y 999 side=1 side_1_speaker}
        #this is a custom Lua tag. It replaces the macro above. E_H.
        [nearest_unit]
            starting_x=$unit.x
            starting_y=$unit.y
            variable=side_1_speaker
            [filter]
                side=1
            [/filter]
        [/nearest_unit]

        [fire_event]
            name=sighted_cactose
            [secondary_unit]
                x,y=$side_1_speaker.x,$side_1_speaker.y
            [/secondary_unit]
        [/fire_event]

        {CLEAR_VARIABLE side_1_speaker}
    [/event]

    [event]
        name=sighted_cactose

        [message]
            speaker=second_unit
            message= _ "Whaaat iiis thaaat spiiiky thiiing? Iiit doees noot loook frienddly." # wmllint: no spellcheck
        [/message]
    [/event]

    #
    # Cactii vs drakes
    #
    [event]
        name=attack

        [filter]
            side=2
        [/filter]

        [filter_second]
            side=3
        [/filter_second]

        [fire_event]
            name=cactose_vs_drake
            [primary_unit]
                x,y=$unit.x,$unit.y
            [/primary_unit]
        [/fire_event]
    [/event]

    [event]
        name=attack

        [filter]
            side=3
        [/filter]

        [filter_second]
            side=2
        [/filter_second]

        [fire_event]
            name=cactose_vs_drake
            [primary_unit]
                x,y=$second_unit.x,$second_unit.y
            [/primary_unit]
        [/fire_event]
    [/event]

    [event]
        name=cactose_vs_drake

        [message]
            speaker=unit
            message= _ "Hey, this nasty spiky thing is attacking me!"
        [/message]

        [role]
            type=Hurricane Drake,Sky Drake,Drake Glider
            # does this not tag work? E_H.
            [not]
                id=$unit.id
            [/not]
            role=shutup
        [/role]

        [message]
            role=shutup
            message= _ "Just hurry up and kill it, will you?"
        [/message]
    [/event]

    #
    # Sighted: mermen
    #
    [event]
        name=sighted

        [filter]
            side=4
        [/filter]

        [filter_second]
            side=1
        [/filter_second]

        [fire_event]
            name=sighted_mermen
            [primary_unit]
                x,y=$unit.x,$unit.y
            [/primary_unit]
            [secondary_unit]
                x,y=$second_unit.x,$second_unit.y
            [/secondary_unit]
        [/fire_event]
    [/event]

    [event]
        name=moveto
        # once again, moveto events don't have a secondary unit.
        # So, here must be used either my workaround
        # or zookeeper's ON_SIGHTING macro. I'll test it on 1.9/1.10
        # and decide what to do, but for now my solution works. E_H.

        [filter]
            side=4

            [filter_vision]
                viewing_side=1
            [/filter_vision]
        [/filter]

        # using NEAREST_UNIT to determine the nearest unit to the Cactose
        #{NEAREST_UNIT $unit.x $unit.y 999 side=1 side_1_speaker}
        #this is a custom Lua tag. It replaces the macro above. E_H.
        [nearest_unit]
            starting_x=$unit.x
            starting_y=$unit.y
            variable=side_1_speaker
            [filter]
                side=1
            [/filter]
        [/nearest_unit]

        [fire_event]
            name=sighted_mermen
            [primary_unit]
                x,y=$unit.x,$unit.y
            [/primary_unit]
            [secondary_unit]
                x,y=$side_1_speaker.x,$side_1_speaker.y
            [/secondary_unit]
        [/fire_event]

        {CLEAR_VARIABLE side_1_speaker}
    [/event]

    # add a new turn event, in case that the sighting gryphon is slowed.

    [event]
        name=sighted_mermen

        #[remove_shroud]
        #	x,y=1-18,1-14
        #	radius=2
        #	side=1
        #[/remove_shroud]

        # the solution that I'm using in Children of Dragons.
        [modify_side]
            side=1
            shroud=no
        [/modify_side]

        [redraw]
        [/redraw]

        [message]
            speaker=second_unit
            #NB: did they know what mermen look like?
            #Who cares. Eros.
            message= _ "Iii seee Meermeeen." # wmllint: no spellcheck
        [/message]

        [message]
            speaker=unit
            message= _ "Ahh! A flock of giant birds!"
        [/message]

        [message]
            speaker=gryphonboss
            message= _ "Wee iss frienndlly. Weee sseeeks heelp. Groog neeeeedss yoou." # wmllint: no spellcheck
        [/message]

        [message]
            speaker=Esanoo
            message= _ "You are a messenger from Grog? Very well, how can we assist?"
        [/message]

        [message]
            speaker=gryphonboss
            message= _ "Weee mussst goo too thee Elvesss." # wmllint: no spellcheck
        [/message]

        # storing Esanoo and preparing him for C2.
        # MAKE_HERO must be used before storing or after unstoring.

        {MAKE_HERO Esanoo}

        [store_unit]
            variable=stored_Esanoo
            [filter]
                id=Esanoo
            [/filter]
            kill=yes
            animate=no
        [/store_unit]

        {VARIABLE stored_Esanoo.canrecruit no}
        {VARIABLE stored_Esanoo.side 1}

        {MAKE_HERO gryphonboss}

        [store_unit]
            variable=stored_hero
            [filter]
                id=gryphonboss
            [/filter]
            kill=yes
        [/store_unit]

        #give Jaash full moves and unmake him leader. He will be fully healed in unstore.
        {VARIABLE stored_hero.moves $stored_hero.max_moves}
        {VARIABLE stored_hero.canrecruit no}

        [store_unit]
            variable=hero_army
            [filter]
                side=1
                [not]
                    id=gryphonboss
                [/not]
            [/filter]
            kill=yes
        [/store_unit]

        [kill]
            side=3
            race=merman
            animate=no
            fire_event=no
        [/kill]

        #clearing variables to free memory
        #{CLEAR_VARIABLE spawn_drakes}
        #{CLEAR_VARIABLE how_many_drakes}
        #{CLEAR_VARIABLE drakes_y}
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 0}
        [/endlevel]
    [/event]

    #
    # Death of Jaash: defeat
    #
    [event]
        name=die

        [filter]
            id=gryphonboss
        [/filter]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    #
    # End of turns: defeat
    #
    [event]
        name=time over

        [message]
            speaker=gryphonboss
            message= _ "Weee'll noooot cooomeeee baaack too Grooog iiiin tiiiimeee. Heeeee iiiiiis dooomeeed." # wmllint: no spellcheck
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    {~add-ons/The_Sojournings_of_Grog/utils/tsog-deaths.cfg}
[/scenario]
