#textdomain wesnoth-tsog

[textdomain]
    name="wesnoth-tsog"
    path="data/add-ons/The_Sojournings_of_Grog/translations"
[/textdomain]

#by Peter Christopher and Thomas Hockings
#current maintainer: Elvish_Hunter

#this is the debug flag
# commented out for release

# these are comments for wmllint's spellchecker. DO NOT TOUCH! E_H.
# wmllint: directory spelling Grog Elyssa Zurg Jaash I-gruk Ormron Hox Griknagh
# wmllint: directory spelling Kaleh Nym Zhul Garak Mal-Apophis Akhenku
# wmllint: directory spelling Cactose Cactoses Krunk Eloh Melusand Esanoo
# wmllint: directory spelling Yechnagoth Zocthanol Quenoth Sojournings OK
# wmllint: directory spelling Rocklobbers Warbanner Warbanners Boulderlobber Boulderlobbers
# wmllint: directory spelling dem dey der

[campaign]
    name= _ "1: The Sojournings of Grog"
    define=CAMPAIGN_THE_SOJOURNINGS_OF_GROG
    extra_defines=ENABLE_ARMAGEDDON_DRAKE,ENABLE_ANCIENT_LICH,ENABLE_DWARVISH_RUNESMITH
    id=The_Sojournings_of_Grog
    abbrev= _ "TSoG"
    icon= "units/trolls/warrior.png~RC(magenta>red)"
    rank=251
    # a new description: "After helping the Quenoth Elves, Grog departs to go back home. After meeting a friend, he will encounter several enemies... (part 1)."
    description= _ "Grog (as starring in 'Under the Burning Suns') goes home. PART 1"

    first_scenario=S1

    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions= {MENU_IMG_TXT2 "units/trolls/whelp.png~RC(magenta>red)" _"Whelp" _"(Easy)"} +
    ";*" + {MENU_IMG_TXT2 "units/trolls/grunt.png~RC(magenta>red)" _"Grunt" _"(Medium)"} +
    ";" + {MENU_IMG_TXT2 "units/trolls/warrior.png~RC(magenta>red)" _"Warrior" _"(Hard)"}

    image="data/add-ons/The_Sojournings_of_Grog/images/portraits/grog.png"

    [about]
        title= _ "Current maintainer"
        [entry]
            name= _ "Elvish_Hunter"
        [/entry]
    [/about]
    [about]
        title= _ "Very special thanks to:"
        [entry]
            name= _ "Anonymissimus"
        [/entry]
        [entry]
            name= _ "Kerth, for the Cactose sprites"
        [/entry]
        [entry]
            name= _ "Doug Kaufman, for the Wesnoth Score track"
        [/entry]
        [entry]
            name= _ "JAP, for the drakes' and northerners' flags and the story screens"
        [/entry]
        [entry]
            name= _ "inferno8, for the Troll Warbanner sprites and unit from Era of Magic"
        [/entry]
        [entry]
            name= _ "pixelmind, for the Dragon Lord sprites and portrait"
        [/entry]
        [entry]
            name= _ "Daravel, for dialogue rewriting"
        [/entry]
        [entry]
            name= _ "SkyOne"
        [/entry]
        [entry]
            name= _ "Jacques_Fol, for the WML for Dragon Lord unit"
        [/entry]
        [entry]
            name= _ "ZhayTee"
        [/entry]
        [entry]
            name= _ "mich, for the multihex attack code"
        [/entry]
        [entry]
            name= _ "Phyreprooph, for NE and SE Cactose attack frames"
        [/entry]
        [entry]
            name= _ "Monroid, for the Great Ogre sprite"
        [/entry]
        [entry]
            name= _ "Dibs, mich and the Wesnoth Italian Forum, for the White Troll unit"
        [/entry]
        [entry]
            name= _ "Tet"
        [/entry]
        [entry]
            name= _ "SomeOneNamedMe, for the Gold Mage unit"
        [/entry]
        [entry]
            name= _ "JustinOperable, for the Troll Shaman (Zurg) portrait"
        [/entry]
        [entry]
            name= _ "shadowblack, for playtesting and feedback"
        [/entry]
        [entry]
            name= _ "Zerovirus, for the Naga Hunter new sprite"
        [/entry]
        [entry]
            name= _ "vonHalenbach, for one story screen"
        [/entry]
        [entry]
            name= _ "OpenClipArt.org, for the heart AMLA image"
        [/entry]
        [entry]
            name= _ "Vendanna, for the Naga Jackla sprites"
        [/entry]
        [entry]
            name= _ "Crow_T, for the Yeti portrait"
        [/entry]
        [entry]
            name= _ "Thand, for the Elvish Vanquisher sprites (recoloured by Elvish_Hunter for this campaign)"
        [/entry]
        [entry]
            name= _ "Tissia, for the Sea Serpent portrait"
        [/entry]
        [entry]
            name= _ "battlestar, for the Giant Worms sprites"
        [/entry]
    [/about]
    [about]
        title= _ "Campaign Design/Maintenance"
        [entry]
            name= _ "Peter Christopher (Eros)"
        [/entry]
        [entry]
            name= _ "Thomas Hockings (Mars)"
        [/entry]
    [/about]
    [about]
        title= _ "Thanks to"
        [entry]
            name= _ "Campaigns mainline and otherwise, off of whom we have 'borrowed' much code"
        [/entry]
    [/about]
[/campaign]

[campaign]
    name= _ "2: The Sojournings of Grog"
    define=CAMPAIGN_THE_SOJOURNINGS_OF_GROG
    extra_defines=ENABLE_ARMAGEDDON_DRAKE,ENABLE_ANCIENT_LICH,ENABLE_DWARVISH_RUNESMITH
    id=The_Sojournings_of_Grog
    abbrev= _ "TSoG"
    icon= "data/add-ons/The_Sojournings_of_Grog/images/units/trolls/trollwarbanner.png~RC(magenta>red)"
    rank=252
    description= _ "Grog (as starring in 'Under the Burning Suns') goes home. PART 2"

    first_scenario=hack_start

    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions= {MENU_IMG_TXT2 "units/trolls/whelp.png~RC(magenta>red)" _"Whelp" _"(Easy)"} +
    ";*" + {MENU_IMG_TXT2 "units/trolls/grunt.png~RC(magenta>red)" _"Grunt" _"(Medium)"} +
    ";" + {MENU_IMG_TXT2 "units/trolls/warrior.png~RC(magenta>red)" _"Warrior" _"(Hard)"}

    image="data/add-ons/The_Sojournings_of_Grog/images/portraits/zurg.png"

    [about]
        title= _ "Current maintainer"
        [entry]
            name= _ "Elvish_Hunter"
        [/entry]
    [/about]
    [about]
        title= _ "Very special thanks to:"
        [entry]
            name= _ "Anonymissimus"
        [/entry]
        [entry]
            name= _ "Kerth, for the Cactose sprites"
        [/entry]
        [entry]
            name= _ "Doug Kaufman, for the Wesnoth Score track"
        [/entry]
        [entry]
            name= _ "JAP, for the drakes' and northerners' flags and several story screens"
        [/entry]
        [entry]
            name= _ "inferno8, for the Troll Warbanner sprites and unit from Era of Magic"
        [/entry]
        [entry]
            name= _ "pixelmind, for the Dragon Lord sprites and portrait"
        [/entry]
        [entry]
            name= _ "Daravel, for dialogue rewriting"
        [/entry]
        [entry]
            name= _ "SkyOne"
        [/entry]
        [entry]
            name= _ "Jacques_Fol, for the WML for Dragon Lord unit"
        [/entry]
        [entry]
            name= _ "ZhayTee"
        [/entry]
        [entry]
            name= _ "mich, for the multihex attack code"
        [/entry]
        [entry]
            name= _ "Phyreprooph, for NE and SE Cactose attack frames"
        [/entry]
        [entry]
            name= _ "Monroid, for the Great Ogre sprite"
        [/entry]
        [entry]
            name= _ "Dibs, mich and the Wesnoth Italian Forum, for the White Troll unit"
        [/entry]
        [entry]
            name= _ "Tet"
        [/entry]
        [entry]
            name= _ "SomeOneNamedMe, for the Gold Mage unit"
        [/entry]
        [entry]
            name= _ "JustinOperable, for the Troll Shaman (Zurg) portrait"
        [/entry]
        [entry]
            name= _ "shadowblack, for playtesting and feedback"
        [/entry]
        [entry]
            name= _ "Zerovirus, for the Naga Hunter new sprite"
        [/entry]
        [entry]
            name= _ "vonHalenbach, for one story screen"
        [/entry]
        [entry]
            name= _ "OpenClipArt.org, for the heart AMLA image"
        [/entry]
        [entry]
            name= _ "Vendanna, for the Naga Jackla sprites"
        [/entry]
        [entry]
            name= _ "Crow_T, for the Yeti portrait"
        [/entry]
        [entry]
            name= _ "Thand, for the Elvish Vanquisher sprites (recoloured by Elvish_Hunter for this campaign)"
        [/entry]
        [entry]
            name= _ "Tissia, for the Sea Serpent portrait"
        [/entry]
        [entry]
            name= _ "battlestar, for the Giant Worms sprites"
        [/entry]
    [/about]
    [about]
        title= _ "Campaign Design/Maintenance"
        [entry]
            name= _ "Peter Christopher (Eros)"
        [/entry]
        [entry]
            name= _ "Thomas Hockings (Mars)"
        [/entry]
    [/about]
    [about]
        title= _ "Thanks to"
        [entry]
            name= _ "Campaigns mainline and otherwise, off of whom we have 'borrowed' much code"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_THE_SOJOURNINGS_OF_GROG

# Preprocessor directive to include UMC Music Pack without penalty for players without it. E_H.
#ifhave ~add-ons/UMC_Music/_main.cfg
[binary_path]
    path=data/add-ons/UMC_Music/
[/binary_path]
{~add-ons/UMC_Music/music}
#endif

[binary_path]
    path=data/add-ons/The_Sojournings_of_Grog
[/binary_path]

{~add-ons/The_Sojournings_of_Grog/utils/}

[+units]
    {~add-ons/The_Sojournings_of_Grog/units/}
    {~add-ons/The_Sojournings_of_Grog/units/khalifate}
[/units]

# this allows having custom Lua tags without having to call wml-tags.lua in each scenario or file. Nice! E_H.
[lua]
    code=<<wesnoth.dofile "~add-ons/The_Sojournings_of_Grog/lua/wml-tags.lua">>
[/lua]

{~add-ons/The_Sojournings_of_Grog/scenarios/}

#endif
