#textdomain wesnoth-The_Sojournings_of_Grog
#unit taken from ranged era, for multihex attack

[unit_type]
    id=Arrow-RE
    name= _ "Arrow"
    race=mechanical
    image="projectiles/missile-ne.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=1
    movement_type=fly
    movement=1
    experience=1
    level=0
    alignment=neutral
    advances_to=null
    cost=40
    usage=scout
    description= _ "Dummy."
    hide_help=true

    [standing_anim]
        direction=n
        start_time=0
        [frame]
            duration=50
            image="projectiles/missile-n.png"
        [/frame]
    [/standing_anim]

    [standing_anim]
        direction=s
        start_time=0
        [frame]
            duration=50
            image="projectiles/missile-n.png~FL(vertical)"
        [/frame]
    [/standing_anim]

    [standing_anim]
        direction=ne
        start_time=0
        [frame]
            duration=50
            image="projectiles/missile-ne.png"
        [/frame]
    [/standing_anim]

    [standing_anim]
        direction=se
        start_time=0
        [frame]
            duration=50
            image="projectiles/missile-ne.png~FL(vertical)"
        [/frame]
    [/standing_anim]

    [standing_anim]
        direction=sw
        start_time=0
        [frame]
            duration=50
            image="projectiles/missile-ne.png~FL(vertical)"
        [/frame]
    [/standing_anim]

    [standing_anim]
        direction=nw
        start_time=0
        [frame]
            duration=50
            image="projectiles/missile-ne.png"
        [/frame]
    [/standing_anim]
[/unit_type]
